{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

<h2>El software</h2>
  <a href="/generar-pdf" class="btn btn-primary">Descargar PDF</a>
</div>
<!-- ./wrapper -->




